* { box-sizing: border-box; }

html,body {
    background:#336B87;
    width: 100%;
    height: 100%;
}

header {
    display: grid;
    grid-template-columns: 1fr 33% 1fr;
    background: blanchedalmond;
}
.title-of-page {
    grid-column: 2;
    justify-self: center;
 }
.whole-container {
    display: grid;
    grid-template-columns: 65px 1fr ;
    grid-template-rows: 500px;
    margin-top: 45px;
    align-items: end;
}

.y-axis {
    align-self:center;
    margin-top: 115px;
}

.y-axis > p {
    
    transform: rotate(-90deg);
    font-size: 40px;
    color: blanchedalmond;


}
.BarHolder { 
    display: grid;
    grid-template-columns: repeat(10, 110px);
    grid-template-rows: auto 70px;
    grid-column-gap: 5px;
    text-align: center;
    height: 70vh;
    width: 90vw;
    justify-items: center;
    padding: 5px 10px;
    align-items: end;
    background: black;
    animation-name: checking;
    animation-duration: ease 4s;
}



.BarHolder-label {
    grid-row-start: 2;
    color: white;
}
@keyframes checking {
    from {background-color: blue;}
    to {background-color: purple;}
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
[class*="bar"] {  
    width: 30px;  
    border-radius: 5px 5px 0 0;
    background-color: #ff4136;
    text-align: center;
    animation: html5 2s ease;
}
[class*="bar"]:hover {  
  animation: example 2s ease;  
}

@keyframes html5 { 
  0%  { height :0px;} 
  100%{ height:100%;}  
}

